# Ignore everything
*

# Do not ignore .gitignore
!.gitignore

# Unignore specific wp-content subdirectories
!wp-content/
!wp-content/themes/
!wp-content/uploads/
!wp-content/plugins/
!wp-content/mu-plugins/

# Unignore contents of specific wp-content subdirectories
!wp-content/themes/**
!wp-content/uploads/** 
!wp-content/mu-plugins/**
!README.md

# Unignore specific Plugins
!wp-content/plugins/our-first-unique-plugin/
!wp-content/plugins/our-first-unique-plugin/**
!wp-content/plugins/our-word-filter-plugin/
!wp-content/plugins/our-word-filter-plugin/**

# Ignore specific folders even if they are inside the unignored directories
wp-content/themes/fictional-university-theme/build/
**/.DS_Store
**/node_modules/